.spacer {
  flex: 1 1 auto;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  height: 60px;
  background-color: #343a40;
  color: #fff;
}

.nav-item {
  margin-right: 30px;
}
